<launch>
    <!-- Define arguments with default values -->
    <arg name="image_topic" default="/fisheye/image_raw" />
    <arg name="pose_topic" default="/orb_slam2_mono/pose" />
    <arg name="map_topic" default="/orb_slam2_mono/map" />
    <arg name="rendered_image_topic" default="/orb_slam2_mono/rendered_image" />
    <arg name="fisheye_fx" default="381.36246688113556" />
    <arg name="fisheye_fy" default="381.36246688113556" />
    <arg name="fisheye_cx" default="320.5" />
    <arg name="fisheye_cy" default="240.5" />
    <arg name="fisheye_k1" default="0.0" />
    <arg name="fisheye_k2" default="0.0" />
    <arg name="fisheye_k3" default="0.0" />
    <arg name="fisheye_k4" default="0.0" />
    <arg name="resize_factor" default="2.0" />

    <arg name="fx" default="$(arg fisheye_fx)" />
    <arg name="fy" default="$(arg fisheye_fy)" />
    <arg name="cx" default="$(arg fisheye_cx)" />
    <arg name="cy" default="$(arg fisheye_cy)" />
    <arg name="k1" default="0.0" />
    <arg name="k2" default="0.0" />
    <arg name="p1" default="0.0" />
    <arg name="p2" default="0.0" />
    <arg name="k3" default="0.0" />
    <arg name="fps" default="30" />
    <arg name="rgb_encoding" default="true" />

    <arg name="load_map" default="false" />
    <arg name="map_file_name" default="map.bin" />

    <arg name="publish_map" default="true" />
    <arg name="publish_rendered_image" default="true" />
    <arg name="publish_pose" default="true" />
    <arg name="publish_tf" default="false" />

    <node name="fisheye_adaptor" pkg="orb_slam2_ros" type="orb_slam2_ros_mono_fisheye_adaptor" output="screen">
        <!-- topic remapping -->
        <remap from="/fisheye/image_raw" to="$(arg image_topic)" />

        <param name="fx" type="double" value="$(arg fx)" />
        <param name="fy" type="double" value="$(arg fy)" />
        <param name="cx" type="double" value="$(arg cx)" />
        <param name="cy" type="double" value="$(arg cy)" />
        <param name="k1" type="double" value="$(arg fisheye_k1)" />
        <param name="k2" type="double" value="$(arg fisheye_k2)" />
        <param name="k3" type="double" value="$(arg fisheye_k3)" />
        <param name="k4" type="double" value="$(arg fisheye_k4)" />
        <param name="resize_factor" type="double" value="$(arg resize_factor)" />
    </node>
    <node name="orb_slam2_mono" pkg="orb_slam2_ros" type="orb_slam2_ros_mono" output="screen">
        <!-- topic remapping -->
        <remap from="/camera/image_raw" to="/fisheye_adaptor/image_undistorted" />
        <remap from="/orb_slam2_mono/pose" to="$(arg pose_topic)" />
        <remap from="/orb_slam2_mono/map" to="$(arg map_topic)" />
        <remap from="/orb_slam2_mono/rendered_image" to="$(arg rendered_image_topic)" />

        <!-- static parameters -->
        <param name="publish_map" type="bool" value="$(arg publish_map)" />
        <param name="publish_rendered_image" type="bool" value="$(arg publish_rendered_image)" />
        <param name="publish_pose" type="bool" value="$(arg publish_pose)" />
        <param name="publish_tf" type="bool" value="$(arg publish_tf)" />

        <param name="load_map" type="bool" value="$(arg load_map)" />
        <param name="map_file_name" type="string" value="$(find orb_slam2_ros)/resource/$(arg map_file_name)" />

        <param name="vocabulary_file_name" type="string" value="$(find orb_slam2_ros)/orb_slam2_core/Vocabulary/ORBvoc.txt" />

        <!-- ORB parameters -->
        <param name="ORBextractor/nFeatures" type="int" value="2000" />
        <param name="ORBextractor/scaleFactor" type="double" value="1.2" />
        <param name="ORBextractor/nLevels" type="int" value="8" />
        <param name="ORBextractor/iniThFAST" type="int" value="20" />
        <param name="ORBextractor/minThFAST" type="int" value="7" />
        <!-- you don't need depth parameters for monocular case -->

        <!-- Camera parameters -->
        <!-- Camera calibration and distortion parameters (OpenCV) -->
        <param name="Camera/fx" type="double" value="$(arg fx)" />
        <param name="Camera/fy" type="double" value="$(arg fy)" />
        <param name="Camera/cx" type="double" value="$(arg cx)" />
        <param name="Camera/cy" type="double" value="$(arg cy)" />
        <param name="Camera/k1" type="double" value="$(arg k1)" />
        <param name="Camera/k2" type="double" value="$(arg k2)" />
        <param name="Camera/p1" type="double" value="$(arg p1)" />
        <param name="Camera/p2" type="double" value="$(arg p2)" />
        <param name="Camera/k3" type="double" value="$(arg k3)" />

        <!-- Camera fps and rgb encoding(0: BGR, 1: RGB. It is ignored if images are grayscale) -->
        <param name="Camera/fps" type="int" value="$(arg fps)" />
        <param name="Camera/rgb_encoding" type="bool" value="$(arg rgb_encoding)" />
    </node>
</launch>